# Created by venv; see https://docs.python.org/3/library/venv.html
Lib/
Scripts/

# Byte-compiled / optimized / DLL files
__pycache__/

# TLE files
tle/**/*.txt
tle/**/*.json

# CZML output files
czml/**/*.czml